html, body {
  background-color: white;
  width: 100%;
  font-family: "proxima-nova", helvetica, sans-serif;
}

h1 {
  font-size: 48px;
}

h3 {
  font-size: 18px;
}

/*Campaign Monitor*/
.createsend-button {
  height:   27px;
  display:  inline-block;
}